{% extends "page.html.twig" %}

{% block main %}
    <div class="termContainer bg-white">
        <div class="flex flex-col mx-5 md:mx-auto md:w-2/3 xl:w-1/2 m-auto">
            <h1 class="font-bold text-2xl">Privacy Policy of Chart My Time</h1>

            <p class="text-gray-400">Last updated: 25/02/2024</p> 

            <p class="mb-4">Welcome to Chart My Time (“we”, “our”, or “the site”). Protecting your personal data is of utmost importance to us. This Privacy Policy outlines the types of information we collect on our site and how we use, protect, and disclose it.</p>

            <h2>1. Information Collection</h2>
            <p>We collect information when you visit our site, including:<br>
            <u>Technical Information:</u> IP address, browser type, visit time, pages viewed.<br>
            <u>Voluntarily Provided Information:</u> Name, email address, and any other contact or personal information you provide through contact forms or registration processes.</p>

            <h2>2. Use of Information</h2>
            <p>The information we collect is used to:<br>
            Enhance your experience on our site.<br>
            Improve our website and services.<br>
            Communicate with you, including responding to your inquiries and sending you information related to our services.<br>
            Comply with legal obligations and prevent fraud or potential illegal activities.</p>

            <h2>3. Data Protection</h2>
            <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. However, no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

            <h2>4. Data Sharing</h2>
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.</p>

            <h2>5. Cookies</h2>
            <p>Our site may use "cookies" to enhance user experience. Your web browser places cookies on your hard drive for record-keeping purposes and sometimes to track information about you. You may choose to set your web browser to refuse cookies, or to alert you when cookies are being sent. If you do so, note that some parts of the site may not function properly.</p>

            <h2>6. Your Rights</h2>
            <p>Under data protection laws, you have rights including:<br>
            <u>Access:</u> You have the right to request copies of your personal data from us.<br>
            <u>Rectification:</u> You can request that we correct any information you believe is inaccurate or incomplete.<br>
            <u>Erasure:</u> You can request that we erase your personal data, under certain conditions.<br>
            <u>Restrict Processing:</u> You have the right to request that we restrict the processing of your personal data, under certain conditions.<br>
            <u>Object to Processing:</u> You have the right to object to our processing of your personal data, under certain conditions.<br>
            <u>Data Portability:</u> You have the right to request that we transfer the data we have collected to another organization, or directly to you, under certain conditions.<br>
            To exercise any of these rights, please contact us using the contact information provided below.</p>

            <h2>7. Third-Party Links</h2>
            <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or liability for the content and activities of these linked sites.</p>

            <h2>8. Changes to Our Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>

            <h2>9. Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, please contact us at eliott.burkle@gmail.com.</p>
        </div>
    </div>
{% endblock %}