{% extends "page.html.twig" %}

{% block main %}
    <div class="termContainer bg-white">
        <div class="flex flex-col mx-5 md:mx-auto md:w-2/3 xl:w-1/2 m-auto">
            <h1 class="font-bold text-2xl">Terms and Conditions for Chart My Time</h1>

            <p class="text-gray-400">Last updated: 25/02/2024</p> 

            <p class="mb-4">Welcome to Chart My Time! By accessing or using our web application, mobile application, and services, you agree to be bound by these <a href="terms" class="underline text-gray-600 hover:text-black">Terms and Conditions</a>. Please read them carefully.</p>

            <h2>1. Acceptance of Terms</h2>
            <p>By creating an account and using the Services, you confirm that you have read, understood, and agreed to these Terms. If you do not agree with any part of these Terms, you may not use the Services.</p>

            <h2>2. Account Registration</h2>
            <p>To access certain features of the Services, you must register for an account. When registering, you agree to provide accurate, current, and complete information about yourself as prompted by our registration forms. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer or device.</p>

            <h2>3. Privacy</h2>
            <p>Your privacy is important to us. Our <a href="privacy" class="underline text-gray-600 hover:text-black">Privacy Policy</a> explains how we collect, use, and protect your personal information. By using the Services, you agree to the collection and use of your personal information in accordance with our <a href="privacy" class="underline text-gray-600 hover:text-black">Privacy Policy</a>.</p>      

            <h2>4. User Content</h2>
            <p>The Services allow you to enter and track daily hours worked in various workspaces. You are solely responsible for the accuracy, quality, integrity, legality, reliability, and appropriateness of all data you enter into the Services.</p>

            <h2>5. Acceptable Use</h2>
            <p>You agree not to use the Services in any way that is unlawful, illegal, or harmful to others. You may not use the Services to transmit any malware, spam, or other malicious content. You are responsible for ensuring that your use of the Services complies with all applicable laws and regulations.</p>

            <h2>6. Intellectual Property</h2>
            <p>All intellectual property rights in the Services, including but not limited to design, text, graphics, logos, and software, are owned by us or our licensors. You may not copy, modify, distribute, sell, or lease any part of our Services or included software, nor may you reverse engineer or attempt to extract the source code of that software, without our prior written permission.</p>

            <h2>7. Termination</h2>
            <p>We may terminate or suspend your account and access to the Services immediately, without prior notice or liability, for any reason whatsoever, including, without limitation, if you breach the Terms.</p>

            <h2>8. Disclaimer of Warranties</h2>
            <p>The Services are provided on an "as is" and "as available" basis. We expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.</p>

            <h2>9. Limitation of Liability</h2>
            <p>In no event shall we, our affiliates, or our service providers be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Services.</p>

            <h2>10. Changes to Terms</h2>
            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. We will provide notice of any changes by posting the updated Terms on our website or through the Services.</p>

            <h2>11. Governing Law</h2>
            <p>These terms and conditions shall be governed by and construed in accordance with the laws of France, without regard to its conflict of law provisions.</p>

            <h2>12. Contact Us</h2>
            <p>If you have any questions about these Terms, please contact us at eliott.burkle@gmail.com.</p>
        </div>
    </div>
{% endblock %}