<!-- From menu.html.twig -->
<aside>
<ul class="m-auto flex flex-col gap-4 mt-20">
    <li>Mon premier lien</li>
    <li>Mon second</li>
    <li>Settings</li>
</ul>
</aside>
<div class="mobileMenu flex xl:hidden w-full bg-white h-20 absolute top-0">
<div class="toggleMenu flex items-center absolute h-full right-5 z-20" x-on:click="isOpen = !isOpen">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" x-show="!isOpen">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" x-show="isOpen">
    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
    </svg>
</div>
<div class="bg-white h-[100vh] w-[100vw] transition-all duration-500 z-10 pt-20 px-4" x-show="isOpen" x-transition>
    <ul class="m-auto flex flex-col mt-4 text-center text-2xl gap-4">
        <li>Mon premier lien</li>
        <li>Mon second</li>
        <li>Settings</li>
    </ul>
</div>
</div>
<!-- End menu.html.twig -->