body {
    background-color: #f5f1f1;
}

/* Colors user */
.bg-63CDE9{
    background-color: #63CDE9;
}

.bg-D988B3{
    background-color: #D988B3;
}

.bg-46A457{
    background-color: #46A457;
}