{% extends "page.html.twig" %}

{% block main %}
    <div class="circleContainer w-[100vw] sm:w-[600px] absolute top-1/2 -translate-y-1/2 m-auto left-1/2 -translate-x-1/2"></div>
    <div class="containerLogout bg-white flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <h1 class="text-2xl font-bold">Bienvenue sur la frontpage</h1>
        <p>Elle sera construite plus tard</p>
    </div>
{% endblock %}
{% block scripts %}
    <script src="dist/circle.js"></script>
{% endblock %}