{% extends "page.html.twig" %}

{% block main %}
    <div class="termContainer bg-white">
        <div class="flex flex-col mx-5 md:mx-auto md:w-2/3 xl:w-1/2 m-auto">
            <h1 class="font-bold text-2xl">Legal Notices for [Votre Application]</h1>

            <p class="text-gray-400">Last updated: 25/02/2024</p> 

            <p class="mb-4">Welcome to [Your Website Name]. Please read these legal notices carefully before using our website.<br>
            You can also find <a href="terms" class="underline text-gray-600 hover:text-black">Terms and Conditions</a> and <a href="privacy" class="underline text-gray-600 hover:text-black">Privacy Policy</a>.</p>

            <h2>1. Website Publisher</h2>
            <p>This website, [Your Website Name], is published by BURKLE Eliott, an individual residing in Strasbourg (FRANCE). Given the need for privacy, the full address and direct contact information are not disclosed directly on the site. For any inquiries or further information, please use the following email address: [Your Contact Email].</p>

            <h2>2. Website Hosting</h2>
            <p>This website is hosted by OVHcloud, located at Roubaix (FRANCE).<br>
            Website : <a href="https://www.ovhcloud.com" class="underline text-gray-600 hover:text-black">https://www.ovhcloud.com</a></p>

            <h2>3. Intellectual Property Rights</h2>
            <p>The content of [Your Website Name], including, but not limited to, texts, graphics, images, logos, sounds, and software, is the exclusive property of BURKLE Eliott or its content suppliers and is protected by international copyright and intellectual property laws. Any unauthorized reproduction, representation, modification, publication, or adaptation of all or part of the elements of the site, by any means or process, is strictly prohibited.</p>

            <h2>4. Limitation of Liability</h2>
            <p>BURKLE Eliott cannot be held responsible for any direct or indirect damage caused to the user's equipment when accessing [Your Website Name], resulting either from the use of equipment that does not meet the specifications stated in point [specify the point], or the appearance of a bug or incompatibility.<br>
            BURKLE Eliott also cannot be held responsible for indirect damages (such as a loss of market or loss of a chance) resulting from the use of [Your Website URL].</p>

            <h2>5. Personal Data Management</h2>
            <p>The protection of your personal data is of the utmost importance to us. For information on how we collect, process, and store your personal data, please refer to our <a href="/privacy" class="underline text-gray-600 hover:text-black">Privacy Policy</a>.</p>

            <h2>6. Applicable Law and Jurisdiction</h2>
            <p>Any dispute related to the use of the [Your Website Name] site is subject to France law. Except in cases where the law does not permit, exclusive jurisdiction is attributed to the competent courts of France.</p>

            <h2>7. Contact Us</h2>
            <p>For any questions regarding these legal notices or any other questions about using [Your Website Name], please contact us at [Your Contact Email].</p>
        </div>
    </div>
{% endblock %}