{% extends "page.html.twig" %}

{% block main %}

    <div class="flex flex-col absolute w-full h-full z-10">
        <div class="relative bg-white p-3 w-full h-full sm:w-[80%] xl:w-1/2 sm:h-auto left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 sm:rounded-xl">
            <h2 class="text-2xl text-center border-b-[1px] border-gray-400 pb-2">Login</h2>
            <div class="flex flex-col md:flex-row ">

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- Gère les infobulles -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
{% endblock %}
