{% extends "page.html.twig" %}

{% block main %}
    <div class="circleContainer w-[100vw] sm:w-[600px] absolute top-1/2 -translate-y-1/2 m-auto left-1/2 -translate-x-1/2"></div>
    <div {% if register %} x-data="{ registerStep : true }" {% else %} x-data="{ registerStep : false }" {% endif %} >
        <div class="containerLogin flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" x-show="!registerStep" :class="!registerStep ? '' : 'hidden'">
            <h1 class="text-4xl font-bold">Login</h1>
            <form action="user?action=login" method="post" class="logForm flex flex-col gap-3" id="loginForm" novalidate>
                <div class="form-group relative flex flex-col gap-1">
                    <label for="email" class="text-left"><b>E-mail <span class="required">*</span></b></label>
                    <input type="text" name="email" id="email" placeholder="Enter e-mail" required autocomplete="email" data-pristine-email>
                </div>
                <div class="relative">
                    <div class="form-group relative flex flex-col gap-1">
                        <label for="password" class="text-left"><b>Password <span class="required">*</span></b></label>
                        <input type="password" name="password" id="password" placeholder="Enter password" required autocomplete="current-password">
                    </div>
                    <input type="checkbox" class="showPassword" tabindex="-1">
                </div>
                <div class="flex flex-col gap-1 mt-2">
                    <input type="submit" value="Login">
                    <p class="text-left"><span class="required"><b>*</b></span> Required</p>
                </div>
            </form>
            <div class="flex flex-col gap-2">
                <a class="underline cursor-pointer toggleStep" @click="registerStep = !registerStep" tabindex="0">Register</a>
            </div>
        </div>
        <div class="containerLogin flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" x-show="registerStep" :class="registerStep ? '' : 'hidden'">
            <h1 class="text-4xl font-bold">Register </h1>
            <form action="user?action=register" method="POST" id="registerForm" class="logForm flex flex-col gap-3" novalidate>
                <div class="form-group relative flex flex-col gap-1">
                    <label for="email" class="text-left"><b>E-mail <span class="required">*</span></b></label>
                    <input name="email" id="email" placeholder="Enter e-mail" required autocomplete="email" data-pristine-email>
                </div>
                <div class="form-group relative flex flex-col gap-1">
                    <label for="username" class="text-left"><b>Username <span class="required">*</span></b></label>
                    <input type="text" name="username" id="username" placeholder="Enter username" required autocomplete="off">
                </div>
                <div class="relative">
                    <div class="form-group formgroupPassword relative flex flex-col gap-1">
                        <label for="password" class="text-left"><b>Password <span class="required">*</span></b></label>
                        <input type="password" name="password" id="password" placeholder="Enter password" required autocomplete="off" data-pristine-password>
                        <div id="errorPassword" class="hidden">Password must contain :</div>
                    </div>
                    <input type="checkbox" class="showPassword" tabindex="-1">
                </div>
                <div class="relative">
                    <div class="form-group relative flex flex-col gap-1">
                        <label for="confirm-password" class="text-left"><b>Confirm password <span class="required">*</span></b></label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="Enter password" required autocomplete="off" data-pristine-equals="#registerForm #password">
                    </div>
                    <input type="checkbox" class="showPassword" tabindex="-1">
                </div>
                <div class="relative">
                    <div class="form-group">
                        <div class="flex items-center gap-2 flex-row">
                            <input type="checkbox" name="terms" id="terms" class="w-[fit-content]" required>
                            <label for="terms" class="text-left -mt-1">I accept the <a href="/terms" target="_blank" class="underline">terms and conditions</a> <span class="required font-bold">*</span></label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-1 mt-2">
                    <input type="submit" value="Register">
                    <p class="text-left"><span class="required"><b>*</b></span> Required</p>
                </div>
            </form>
            <div class="flex flex-col gap-2">
                <a class="underline cursor-pointer toggleStep" @click="registerStep = !registerStep" tabindex="0">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="dist/circle.js"></script>
    <script src="dist/pristine.js"></script>
{% endblock %}