{% extends "page.html.twig" %}

{% block main %}
    <div class="circleContainer w-[100vw] sm:w-[600px] absolute top-1/2 -translate-y-1/2 m-auto left-1/2 -translate-x-1/2"></div>
    <div {% if register %} x-data="{ registerStep : true }" {% else %} x-data="{ registerStep : false }" {% endif %} >
        <div class="containerLogin flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" x-show="!registerStep">
            <h1 class="text-4xl font-bold">Login</h1>
            <form action="#" method="post" class="flex flex-col gap-3">
                <div class="flex flex-col gap-1">
                    <label for="email" class="text-left"><b>E-mail :</b></label>
                    <input type="text" name="email" id="email" placeholder="Enter e-mail" class="border-[1px] border-gray-300 rounded-md p-1 w-60" required>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password" class="text-left"><b>Password :</b></label>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="border-[1px] border-gray-300 rounded-md p-1" required>
                </div>
                <div class="flex flex-col gap-2 mt-2">
                    <input type="submit" value="Login" class="rounded-md p-2 bg-black text-white cursor-pointer">
                </div>
            </form>
            <div class="flex flex-col gap-2">
                <a class="underline cursor-pointer" @click="registerStep = !registerStep">Register</a>
            </div>
        </div>
        <div class="containerLogin flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" x-show="registerStep">
            <h1 class="text-4xl font-bold">Register</h1>
            <form action="user?action=register" method="POST" class="flex flex-col gap-3">
                <div class="flex flex-col gap-1">
                    <label for="email" class="text-left"><b>E-mail :</b></label>
                    <input type="email" name="email" id="email" placeholder="Enter e-mail" class="border-[1px] border-gray-300 rounded-md p-1 w-60" required>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="username" class="text-left"><b>Username :</b></label>
                    <input type="text" name="username" id="username" placeholder="Enter username" class="border-[1px] border-gray-300 rounded-md p-1 w-60" required>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password" class="text-left"><b>Password :</b></label>
                    <input type="password" name="password" id="password" placeholder="Enter password" class="border-[1px] border-gray-300 rounded-md p-1" required>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="confirm-password" class="text-left"><b>Confirm password :</b></label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Enter password" class="border-[1px] border-gray-300 rounded-md p-1" required>
                </div>
                <div class="flex flex-col gap-2 mt-2">
                    <input type="submit" value="Register" class="rounded-md p-2 bg-black text-white cursor-pointer">
                </div>
            </form>
            <div class="flex flex-col gap-2">
                <a class="underline cursor-pointer" @click="registerStep = !registerStep">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="dist/circle.js"></script>
{% endblock %}