{% extends "page.html.twig" %}

{% block main %}
    <div class="circleContainer w-[100vw] sm:w-[600px] absolute top-1/2 -translate-y-1/2 m-auto left-1/2 -translate-x-1/2"></div>
    <div class="containerLogout bg-white flex absolute flex-col gap-5 p-5 align-center justify-center text-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-door-closed h-20 w-20 m-auto" viewBox="0 0 16 16">
            <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"/>
            <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"/>
        </svg>
        <h1 class="text-2xl font-bold">You've been disconnected</h1>
        <p>See you later, come back and manage your time!</p>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/dist/circle.js"></script>
{% endblock %}