{% extends "page.html.twig" %}

{% block main %}

    <div class="mx-5 md:mx-auto md:w-2/3 xl:w-1/2 m-auto">
        <h1>Statistiques</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Temps total</h2>
                    <p>Temps total enregistré : 20h</p>
                </div>
                <div class="col-md-6">
                    <h2>Temps moyen</h2>
                    <p>Temps moyen par enregistrement : 0h45</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Temps le plus long</h2>
                    <p>Temps le plus long enregistré : 8h</p>
                </div>
                <div class="col-md-6">
                    <h2>Temps le plus court</h2>
                    <p>Temps le plus court enregistré : 0h15</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <!-- Gère les infobulles -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
{% endblock %}
