.floatingToolbar {
    @apply flex flex-col-reverse gap-5 text-black absolute right-5 bottom-5 md:bottom-10 md:right-10 lg:right-16 lg:bottom-16 xl:bottom-[80px] xl:right-[80px] rounded-full items-end;
    div.button {
        @apply h-12 w-12 rounded-full flex shadow-lg hover:cursor-pointer transition-all duration-300 ease-in-out;
        background: rgba( 255, 255, 255, 0.4 );
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        &:hover {
            background: rgba( 255, 255, 255, 0.8 );
            scale: 1.05;
            /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            */backdrop-filter: blur( 5px );
            -webkit-backdrop-filter: blur( 5px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );  
        }
        svg {
            @apply m-auto w-5 h-5;
        }
        .closeFormMonthYear {
            @apply hidden;
        }
        &.inputMonthYear {
            form {
                @apply hidden;
            }
            &.active {
                @apply flex-row-reverse gap-5 w-auto;
                svg{
                    @apply block;
                    &.togglesvg {
                        @apply hidden;
                    }
                }
                .closeFormMonthYear {
                    @apply flex ml-4 hover:cursor-pointer;
                }
                form {
                    @apply mr-1 block flex flex-row items-center gap-5;
                    input,
                    select {
                        @apply w-20 bg-transparent;
                    }
                    input[type="submit"] {
                        @apply w-10 h-10 rounded-full bg-black text-[#f5f1f1] hover:cursor-pointer;
                    }
                }
                &:hover {
                    scale: 1;
                }
            }
        }
    }
}