<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Découvrez où passe votre temps !">
    <link rel="stylesheet" href="dist/main.css">
    <link rel="manifest" href="manifest.json">
    <title>Chart My Time</title>
</head>
    {% block page %}
    {% endblock %}
    <!-- Gère les infobulles -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="dist/workspaceform.js"></script>
    <script src="dist/menu.js"></script>
</html>
