{% extends "html.html.twig" %}

{% block page %}
<!-- From page.html.twig -->
<body class="h-[100vh] w-[100vw] flex items-center justify-center" x-data="{isOpen: false, dayModalOpen: false}">
  {% include "./includes/menu.html.twig" %}
  <main class="h-[100vh] w-[100vw]">
  {% block main %}
  {% endblock %}
  </main>
  <div class="fixed bottom-20 left-2 bg-gray-800 text-white text-center font-semibold rounded-full py-2 w-20" style="z-index:10000;">
    <span class="block sm:hidden">xs
      <br/>0</span>
    <span class="hidden sm:block md:hidden">sm
      <br/>480</span>
    <span class="hidden md:block lg:hidden">md
      <br/>768</span>
    <span class="hidden lg:block xl:hidden">lg
      <br/>1024</span>
    <span class="hidden xl:block 2xl:hidden">xl 
      <br/>1280</span>
    <span class="hidden 2xl:block">2xl et + 
      <br/>1536</span>
  </div>
  <script src="./dist/main.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
<!-- End from page.html.twig -->
{% endblock %}
